<h2> <%= @album.title%> </h2>

<h3> Band/Artist: <%= link_to "#{@album.band.name}", band_url(@album.band) %> </h3>

<h4> Tracks</h4>

<%= render @album.tracks %> <br />

<%= button_to "Add Track", new_album_track_url(@album), method: :get %> <br /><br />

<h4>Modify Entry</h4>

<%= button_to "Edit", edit_album_url(@album), method: :get %><br />
<%= button_to "Delete", album_url(@album), method: :destroy %>
